.subscribe {
  padding: 80px 0;
  background-color: var(--accent);

  overflow: hidden;

  @include mediaLaptop {
    padding: 40px 0;
  }
}

.subscribe__rows {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;

  position: relative;

  padding-left: 180px;

  @include mediaTablet {
    flex-direction: column;
    text-align: center;

    padding: 0 150px;
  }

  @include mediaMobile {
    padding: 0;
  }

  &::before {
    content: '';

    position: absolute;
    top: -130px;
    left: -80px;
    width: 236px;
    height: 273px;

    background-image: url('./../img/subscribe/subscribe-pin-bg.svg');
    background-repeat: no-repeat;

    @include mediaTablet {
      top: -60px;
    }

    @include mediaMobile {
      display: none;
    }
  }
}

.subscribe__desc {
  display: grid;

  gap: 4px;

  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  color: var(--text-white);

  p {
    font-size: 20px;
    font-weight: 450;
  }
}

.subscribe__form {
  flex-grow: 1;

  min-width: 400px;
}
.subscribe-form {
  display: flex;
  align-items: center;

  gap: 12px;

  @include mediaMobileXS {
    flex-direction: column;
  }
}

.subscribe-form__input {
  flex-grow: 1;

  height: 48px;

  padding: 12px;
  padding-left: 44px;

  background-image: url('./../img/icons/email.svg');
  background-position: 12px 10px;
  background-size: auto;
  background-repeat: no-repeat;

  border-radius: 8px;
  border: 1px solid #fff;
  background-color: var(--text-white);

  font-size: 14px;
  font-weight: 450;
  line-height: 150%;

  &::placeholder {
    color: var(--text-muted);
  }
}

.subscribe-form__btn {
  height: 48px;

  padding: 12px 24px;

  border-radius: 8px;

  font-size: 16px;
  font-weight: 450;
  line-height: 150%;

  color: var(--text-white);
  background-color: var(--btn-bg);

  transition: opacity 0.2s ease-in;

  @include mediaMobileXS {
    width: 228px;
  }

  &:hover {
    opacity: 0.8;
  }
}
